<div class='page-heading'>Installation:</div>

<div class="warning">
WARNING: If you accidentally flash PBRP to your device using fastboot instead of temporarily booting the image, you will need to download the latest factory image for your device and reflash the boot image.
</div>

<p class="text"><a href="https://developer.android.com/studio/releases/platform-tools">You will need the platform-tools from the Android SDK on your computer.</a> Download the platform-tools as per your operating system.</p>

<p class="text">Windows users will need proper drivers installed on their computer. You can try the <a href="https://forum.xda-developers.com/android/software-hacking/live-iso-adb-fastboot-driver-issues-t3526755" target=_blank>simple FWUL adb/fastboot ISO</a> or the <a href="http://www.xda-developers.com/universal-naked-driver-solves-your-adb-driver-problems-on-windows/">Naked ADB drivers</a> or the <a href="https://adb.clockworkmod.com/">Universal ADB drivers</a> if you don't already have a working driver installed</p>

<p class="text">Download both the PBRP zip file (PBRP-*.zip) and image file (.img). Copy the image file into the same folder as your platform-tools and rename it to pbrp.img.</p>

<p class="text">Now reboot to fastboot/download/bootloader mode by using adb or manual key combos (Use Google to find that if you are not sure). To use adb to reboot, use the following command:</p>
<code>adb reboot bootloader</code>

<p class="text"><strong>Preferred Installation Method:</strong></p>
<p class="text">Temporarily boot the downloaded image using the following command:</p>
<code>fastboot boot pbrp.img</code>

<p class="text">Once booted into PBRP, copy the PBRP zip file to your device storage (internal storage, SD card, or USB OTG). Then navigate to Install -> Browse to your zip file -> Swipe to flash. This will permanently install PBRP to your device.</p>

<p class="text"><strong>Alternative Installation Methods:</strong></p>
<p class="text"><i>Flash Current PBRP:</i> Once temporarily booted, navigate to the Advanced > Flash Current PBRP option. This will install the PBRP image you just booted permanently to the device.</p>

<p class="text"><i>Install Recovery Ramdisk:</i> Once booted, navigate to the Advanced > Install Recovery Ramdisk option. This will ask you to select the image you want to install PBRP from. Select the PBRP image you downloaded and copied to device storage. Proceed to install this image.</p>

<p class="text">NOTE: You also need to use the "Fix Recovery Bootloop" option present in the same Advanced Tab. Use that option after you have installed the recovery ramdisk successfully to avoid boot loops from installing PBRP permanently.</p>

<p class="text">After this is done, you have successfully installed PBRP on your device.</p>
