<html>
<div class='page-heading'>Installation:</div>
If you already have PBPR installed:
Download the latest zip and install the zip using PBPR.

If you do not already have PBPR installed:
Download both the img and the zip. You will need to have fastboot binaries and the correct drivers installed. Power off your device completely. Hold volume down and turn on the device. Your device should now be in the bootloader. Connect the device to your PC. Open a command window and run the following command from the proper location:

fastboot boot path/to/pbrp.img

This will temporarily boot PBPR on your device. Use adb to push the zip onto your device:

<pre>
adb push path/to/pbrp.zip /
</pre>

Go to install and browse to the zip and install the zip. The zip will install PBPR to both boot slots. Installing PBPR at this time will remove root if you are currently rooted.

If you accidently flash PBPR to your device using fastboot instead of temporarily booting the image, you will need to download the latest factory image for your device and reflash the boot image.
</html>
