{% capture fastboot %}fastboot{% if page.fastbootvendor %} -i 0x{{ page.fastbootvendor }}{% endif %}{% endcapture %}
<html>
<div class='page-heading' id='fastboot-install'>Fastboot Install Method (No Root Required):</div>
<a id='fastboot'></a>
<hr />

<p class="text"><a href="https://developer.android.com/studio/releases/platform-tools">You will need the platform-tools from the Android SDK on your computer.</a> Download the platform-tools as per your operating system.</p>

<p class="text">Windows users will need proper drivers installed on their computer. You can try the <a href="https://forum.xda-developers.com/android/software-hacking/live-iso-adb-fastboot-driver-issues-t3526755" target=_blank>simple FWUL adb/fastboot ISO</a> or the <a href="https://forum.xda-developers.com/google-nexus-5/development/adb-fb-apx-driver-universal-naked-t2513339">Naked ADB drivers</a> or the <a href="https://adb.clockworkmod.com/">Universal ADB drivers</a> if you don't already have a working driver installed</p>

<p class="text">On your device, go into Settings -> About and find the Build Number and tap on it 7 times to enable developer settings. Press back and go into Developer Options and enable USB debugging. From your computer, open a command prompt and type:</p>
<p class="code">adb reboot bootloader</p>
<p class="text">You should now be in fastboot mode.</p>

{% if page.fastbootunlock %}
<p class="text">Your device needs to be unlocked before it can flash custom images. To unlock your device type:</p>
<p class="code">{{ fastboot }} oem unlock</p>
{% endif %}

<p class="text">Download both the PBRP zip file (PBRP-*.zip) and image file (.img). Copy the image file into the same folder as your platform-tools and rename it to pbrp.img.</p>

<p class="text"><strong>Preferred Installation Method:</strong></p>
<p class="text">Install the recovery image using the following command:</p>
<p class="code">{{ fastboot }} flash recovery pbrp.img</p>

<p class="text">Once booted into PBRP, copy the PBRP zip file to your device storage (internal storage, SD card, or USB OTG). Then navigate to Install -> Browse to your zip file -> Swipe to flash. This will permanently install PBRP to your device.</p>

<p class="text">Note: Many devices will replace your custom recovery automatically during first boot. To prevent this, use <a href="https://www.google.com">Google</a> to find the proper key combo to enter recovery. After typing <span class="code">{{ fastboot }} reboot</span>, hold the key combo and boot to PBRP. Once PBRP is booted, PBRP will patch the stock ROM to prevent the stock ROM from replacing PBRP. If you don't follow this step, you will have to repeat the install.</p>
</html>
